.col-centered {
  float: none;
  margin: 0 auto;
}
.no-margin {
  margin: 0 !important;
}
.vspacer80 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.vspacer40 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.vspacer20 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.grid-header {
  background: #eeeeee;
  border: 1px solid #cacaca;
}
.top-header {
  background: #d3d3d3;
}
.top-right-box {
  border: 1px solid #1988BD;
  background: #CFDCE2;
  border-radius: 3px;
  margin: 10px -5px 10px 10px;
  padding-left: 10px;
  padding-top: 10px;
  width: 170px;
  float: right;
}
.top-right-box p {
  margin-bottom: 5px;
}
.no-padding {
  padding: 0 !important;
}
.bookmark-panel {
  background: #f9f9f9;
  padding-top: 10px;
  padding-bottom: 30px;
  border-left: 1px solid #1988BD;
  color: #1988BD;
}
.bookmark-panel .bookmark-list {
  border: 1px solid #000;
  border-radius: 5px;
}
.bookmark-panel .bookmark-list li {
  padding: 5px;
}
.bookmark-panel .bookmark-list li.even {
  border-top: 1px solid #000;
}
.selected-word .word-label {
  border: 1px solid #000;
  border-radius: 2px;
  background: #A3CFE4;
  margin-left: 15px;
  margin-right: 15px;
}
.selected-word .word-label .control-label {
  margin-top: 5px;
}
.selected-word .word .form-control {
  border: 1px dotted #1988BD !important;
  background: #ECF5F9;
}
.selected-word .word .input-group-addon {
  border: 1px dotted #1988BD !important;
  background: #ECF5F9;
}
.vspacer-top40 {
  margin-top: 40px;
}
.vspacer-bottom40 {
  margin-bottom: 40px;
}